<h3>{{viewTitle}}</h3>
<form  action ="/employee " method="POST"autocomplete="off">
<input type="hidden" name="_id" value="{{employee.id}}">
<div>
<label>full name</label>
<input type="text" name="fullName">
</div>
<div>
<label>email</label>
<input type="text" name="email">
</div>
<div>
<label>mobile</label>
<input type="text" name="mobile">
</div>
<div>
<label>City</label>
<input type="text" name="city">
</div>
<div>
<button type="submit">submit</button>
<a href="/employee/list"></i>View all</a>
</div>

</form>